# General Dependencies
node_modules/
package-lock.json

# Builds & Output
dist/
build/
.angular/

# Environments
.env
.env.local
.env.*.local
*.env

# Prisma & Databases
src/generated/
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/
/data/
/db/

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
